In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('cust_satisfaction.csv')
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [3]:
df1= pd.read_csv('cust_satisfaction_cleaned.csv')
df1

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,29,2133,3,4,3,12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,39,929,4,4,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,33,2227,5,5,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,33,569,5,3,5,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,45,2930,2,2,4,12,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0